<div dir="rtl" class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#' onclick="
window.plugins.socialsharing.share('*حصن المسلم* ... \n يضم برنامج حصن المسلم جميع الأذكار والأدعية الواردة في كتاب حصن المسلم والتي لا غني عنها في حياتنا اليومية وفي معاملاتنا مع الناس وذلك بطريقة سهلة وبسيطة. \n ومن هذه الأذكار : \n أذكار الصباح والمساء ، أذكار النوم \n أذكار الاستيقاظ من النوم ، دعاء الاستخارة ... \n تم إضافة ميزات عديدة للبرنامج حتي تتمكن من الوصول إلي الأذكار بسهولة ويسر \n بعض هذه المزايا: \n - خفيف الحجم \n - إمكانية نشر الأذكار حتي تتمكن من نشرها لأي برنامج آخر \n - خاصية التذكير بأذكار الصبح والمساء \n - إمكانية عمل التطبيق علي الجوالات التي لا تدعم العربية \n -يشتغل دون الاتصال بالنت \n - الصوت فقط ما يتطلب انترنت \n',
                             'حصن المسلم',
                             null,
                             'https://play.google.com/store/apps/details?id=com.el3zahaby.hisn')"
           
           class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-share zmdi-hc-2x'></i><strong>مشاركة التطبيق</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='https://www.paypal.me/El3zahaby/' target="_blank" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-paypal-alt zmdi-hc-2x'></i><strong>ادعمنا</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='mailto:el0zahaby@gmail.com.com?body=مستخدم من تطبيق "حصن المسلم" %0A --------------------------- %0A اكتب رسالتك هنا ' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-comments zmdi-hc-2x'></i><strong>تواصل مع مطور التطبيق</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' onclick="cordova.plugins.market.open('com.el3zahaby.hisn')" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-star zmdi-hc-2x'></i><strong>قيمنا بخمس نجوم على المتجر</strong></a>
	</div>
</div>