
<div style="text-align: center" data-role="popup" id="popupDialog">

                <div data-role="header">
                	<h1 style="text-align: right" class='nd-title'>يجب تحميل بعض ملفات التطبيق اولا</h1>
            	</div>

                <div data-role="content">
                    <code id="status">0%</code><br>
                    <progress id="ft-prog" style="width: 95%;background: #fff;height: 35px;" value="0" max="100"></progress>
                    <a href="dialog/index.html" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i class='zmdi zmdi-check'></i> Sounds good</a>
                    <a href="dialog/index.html" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i class='zmdi zmdi-cancel'></i> Cancel</a>

                </div> 
</div> 